*{margin: 0;padding: 0;}
body{padding: 0 100px;}
h1{padding: 40px 0;}
ul,li{list-style: none;}
li{display: flex;align-items: center;padding-bottom: 20px;}
.pro-image{padding: 0 20px;}
.pro-name{font: 12px/12px "微软雅黑";flex: 5;}
.pro-unit-price{padding: 0 40px;flex: 1;}
.pro-count{height: 16px;width: 40px;text-align: center;flex: 1;}
button{height: 20px;width: 20px;}
.pro-total-price{padding-left: 40px;color:#ff1441;flex: 1;}
.footer{padding-top: 40px;font: 24px/24px "微软雅黑";}
.footer div.input-check{display: inline-block}
.all-price{padding-left: 200px;}
.pro-all-price{color: #ff1441;}
.input-check{height: 20px;width: 20px;border-radius: 50%;border: 1px solid #000;}
div.checked{background-color: #ff1441;border: 1px #ff1441 solid;}
.settlement{width: 200px;height: 40px;border: none;float: right;font: 24px/40px "微软雅黑 Light";background-color: #ff1441;color: #fff;border-radius: 3px;}